<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Ошибка</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

<div class="card mb-3" style="width: 42rem;">
    <div class="card-body">

        <div class="container text-center mt-5">
            <h1>Что-то пошло не так!</h1>
            <h2>Возможно когда-нибудь эту ошибку исправят</h2>
        </div>


        <div class="container text-center mt-5">
            <a href="/students-list" class="btn btn-warning">На главную</a>
        </div>

    </div>
</div>
</body>
</html>
